.grid-container {
    padding: 20px 13%;
    
    // .product-filters {
    //   margin: 0 8.3333% 8.3333% 8.3333%;
    //   box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    //   padding:20px;
    //   background: #fff;
    // }
  
    #load-more {
      color:  darkblue;
      // width: 33%;
      // display: inline-block;
      margin: 110px auto 35px;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
  
      &:hover {
          color: teal ;
      }
    }  
    .hidden {
      display: none!important;
      visibility: hidden!important;
      width: 0px !important;
      height: 0px !important;
      margin: 0px !important;
      padding: 0px !important; 
    }
  }

  // Text underline color
  a:hover {
    color: teal;
  }
  
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .grid-sizer,
  .grid-item { 
    width: 25%; 
    height: 300px;
    padding: 10px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    .grid-item-content {
      color: white;
      text-align: center;
      opacity: 1;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: background-image 0.4s;
      background-size: cover; 
      background-repeat: no-repeat;
      border-radius: 3px;
      padding: 15px 15px;
      display: flex;
      flex-direction: column;
      // &:hover {      
      //   &:before {
      //       content: '';
      //       position: absolute;
      //       top: 0;
      //       right: 0;
      //       bottom: 0;
      //       left: 0;
      //       margin: 10px;
      //       opacity: .8; 
      //       pointer-events: none;
      //       border-radius: 3px;
      //   }
      // } 
      .grid-item-text {
        // margin-top: auto;
        // padding-bottom: 35px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 50px;      
        h1 {
          position: relative;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.4;
        }
        
        p {
          position: relative;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.2;
        }
      }
      .link {
        color: white;
        font-weight: 500;
        position: relative;
        font-size: 18px;
      }
      
    }
  } 
  